.border-top-gray {
    border-block-start: 1px solid $light-gray;
}

.border-bottom-gray {
    border-block-end: 1px solid $light-gray;
}

.border-top-accent {
    border-block-start: 2px solid $accent-color;
}

.border-bottom-accent {
    border-block-end: 2px solid $accent-color;
}