.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: $ic-100;
}

.pt-2 {
  padding-top: $ic-200;
}

.pt-3 {
  padding-top: $ic-300;
}

.pt-4 {
  padding-top: $ic-400;
}

.pt-5 {
  padding-top: $ic-500;
}

.pt-6 {
  padding-top: $ic-600;
}

.pt-7 {
  padding-top: $ic-700;
}

.pt-8 {
  padding-top: $ic-800;
}

.pt-9 {
  padding-top: $ic-900;
}

.pt-10 {
  padding-top: $ic-1000;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: $ic-100;
}

.pr-2 {
  padding-right: $ic-200;
}

.pr-3 {
  padding-right: $ic-300;
}

.pr-4 {
  padding-right: $ic-400;
}

.pr-5 {
  padding-right: $ic-500;
}

.pr-6 {
  padding-right: $ic-600;
}

.pr-7 {
  padding-right: $ic-700;
}

.pr-8 {
  padding-right: $ic-800;
}

.pr-9 {
  padding-right: $ic-900;
}

.pr-10 {
  padding-right: $ic-1000;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: $ic-100;
}

.pb-2 {
  padding-bottom: $ic-200;
}

.pb-3 {
  padding-bottom: $ic-300;
}

.pb-4 {
  padding-bottom: $ic-400;
}

.pb-5 {
  padding-bottom: $ic-500;
}

.pb-6 {
  padding-bottom: $ic-600;
}

.pb-7 {
  padding-bottom: $ic-700;
}

.pb-8 {
  padding-bottom: $ic-800;
}

.pb-9 {
  padding-bottom: $ic-900;
}

.pb-10 {
  padding-bottom: $ic-1000;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: $ic-100;
}

.pl-2 {
  padding-left: $ic-200;
}

.pl-3 {
  padding-left: $ic-300;
}

.pl-4 {
  padding-left: $ic-400;
}

.pl-5 {
  padding-left: $ic-500;
}

.pl-6 {
  padding-left: $ic-600;
}

.pl-7 {
  padding-left: $ic-700;
}

.pl-8 {
  padding-left: $ic-800;
}

.pl-9 {
  padding-left: $ic-900;
}

.pl-10 {
  padding-left: $ic-1000;
}

@include breakpoint(sm) {
  .pt-0-s {
    padding-top: 0;
  }
  
  .pt-1-s {
    padding-top: $ic-100;
  }
  
  .pt-2-s {
    padding-top: $ic-200;
  }
  
  .pt-3-s {
    padding-top: $ic-300;
  }
  
  .pt-4-s {
    padding-top: $ic-400;
  }
  
  .pt-5-s {
    padding-top: $ic-500;
  }
  
  .pt-6-s {
    padding-top: $ic-600;
  }
  
  .pt-7-s {
    padding-top: $ic-700;
  }
  
  .pt-8-s {
    padding-top: $ic-800;
  }
  
  .pt-9-s {
    padding-top: $ic-900;
  }
  
  .pt-10-s {
    padding-top: $ic-1000;
  }
  
  .pr-0-s {
    padding-right: 0;
  }
  
  .pr-1-s {
    padding-right: $ic-100;
  }
  
  .pr-2-s {
    padding-right: $ic-200;
  }
  
  .pr-3-s {
    padding-right: $ic-300;
  }
  
  .pr-4-s {
    padding-right: $ic-400;
  }
  
  .pr-5-s {
    padding-right: $ic-500;
  }
  
  .pr-6-s {
    padding-right: $ic-600;
  }
  
  .pr-7-s {
    padding-right: $ic-700;
  }
  
  .pr-8-s {
    padding-right: $ic-800;
  }
  
  .pr-9-s {
    padding-right: $ic-900;
  }
  
  .pr-10-s {
    padding-right: $ic-1000;
  }
  
  .pb-0-s {
    padding-bottom: 0;
  }
  
  .pb-1-s {
    padding-bottom: $ic-100;
  }
  
  .pb-2-s {
    padding-bottom: $ic-200;
  }
  
  .pb-3-s {
    padding-bottom: $ic-300;
  }
  
  .pb-4-s {
    padding-bottom: $ic-400;
  }
  
  .pb-5-s {
    padding-bottom: $ic-500;
  }
  
  .pb-6-s {
    padding-bottom: $ic-600;
  }
  
  .pb-7-s {
    padding-bottom: $ic-700;
  }
  
  .pb-8-s {
    padding-bottom: $ic-800;
  }
  
  .pb-9-s {
    padding-bottom: $ic-900;
  }
  
  .pb-10-s {
    padding-bottom: $ic-1000;
  }
  
  .pl-0-s {
    padding-left: 0;
  }
  
  .pl-1-s {
    padding-left: $ic-100;
  }
  
  .pl-2-s {
    padding-left: $ic-200;
  }
  
  .pl-3-s {
    padding-left: $ic-300;
  }
  
  .pl-4-s {
    padding-left: $ic-400;
  }
  
  .pl-5-s {
    padding-left: $ic-500;
  }
  
  .pl-6-s {
    padding-left: $ic-600;
  }
  
  .pl-7-s {
    padding-left: $ic-700;
  }
  
  .pl-8-s {
    padding-left: $ic-800;
  }
  
  .pl-9-s {
    padding-left: $ic-900;
  }
  
  .pl-10-s {
    padding-left: $ic-1000;
  }
}

@include breakpoint(md) {
  .pt-0-m {
    padding-top: 0;
  }
  
  .pt-1-m {
    padding-top: $ic-100;
  }
  
  .pt-2-m {
    padding-top: $ic-200;
  }
  
  .pt-3-m {
    padding-top: $ic-300;
  }
  
  .pt-4-m {
    padding-top: $ic-400;
  }
  
  .pt-5-m {
    padding-top: $ic-500;
  }
  
  .pt-6-m {
    padding-top: $ic-600;
  }
  
  .pt-7-m {
    padding-top: $ic-700;
  }
  
  .pt-8-m {
    padding-top: $ic-800;
  }
  
  .pt-9-m {
    padding-top: $ic-900;
  }
  
  .pt-10-m {
    padding-top: $ic-1000;
  }
  
  .pr-0-m {
    padding-right: 0;
  }
  
  .pr-1-m {
    padding-right: $ic-100;
  }
  
  .pr-2-m {
    padding-right: $ic-200;
  }
  
  .pr-3-m {
    padding-right: $ic-300;
  }
  
  .pr-4-m {
    padding-right: $ic-400;
  }
  
  .pr-5-m {
    padding-right: $ic-500;
  }
  
  .pr-6-m {
    padding-right: $ic-600;
  }
  
  .pr-7-m {
    padding-right: $ic-700;
  }
  
  .pr-8-m {
    padding-right: $ic-800;
  }
  
  .pr-9-m {
    padding-right: $ic-900;
  }
  
  .pr-10-m {
    padding-right: $ic-1000;
  }
  
  .pb-0-m {
    padding-bottom: 0;
  }
  
  .pb-1-m {
    padding-bottom: $ic-100;
  }
  
  .pb-2-m {
    padding-bottom: $ic-200;
  }
  
  .pb-3-m {
    padding-bottom: $ic-300;
  }
  
  .pb-4-m {
    padding-bottom: $ic-400;
  }
  
  .pb-5-m {
    padding-bottom: $ic-500;
  }
  
  .pb-6-m {
    padding-bottom: $ic-600;
  }
  
  .pb-7-m {
    padding-bottom: $ic-700;
  }
  
  .pb-8-m {
    padding-bottom: $ic-800;
  }
  
  .pb-9-m {
    padding-bottom: $ic-900;
  }
  
  .pb-10-m {
    padding-bottom: $ic-1000;
  }
  
  .pl-0-m {
    padding-left: 0;
  }
  
  .pl-1-m {
    padding-left: $ic-100;
  }
  
  .pl-2-m {
    padding-left: $ic-200;
  }
  
  .pl-3-m {
    padding-left: $ic-300;
  }
  
  .pl-4-m {
    padding-left: $ic-400;
  }
  
  .pl-5-m {
    padding-left: $ic-500;
  }
  
  .pl-6-m {
    padding-left: $ic-600;
  }
  
  .pl-7-m {
    padding-left: $ic-700;
  }
  
  .pl-8-m {
    padding-left: $ic-800;
  }
  
  .pl-9-m {
    padding-left: $ic-900;
  }
  
  .pl-10-m {
    padding-left: $ic-1000;
  }
}

@include breakpoint(lg) {
  .pt-0-l {
    padding-top: 0;
  }
  
  .pt-1-l {
    padding-top: $ic-100;
  }
  
  .pt-2-l {
    padding-top: $ic-200;
  }
  
  .pt-3-l {
    padding-top: $ic-300;
  }
  
  .pt-4-l {
    padding-top: $ic-400;
  }
  
  .pt-5-l {
    padding-top: $ic-500;
  }
  
  .pt-6-l {
    padding-top: $ic-600;
  }
  
  .pt-7-l {
    padding-top: $ic-700;
  }
  
  .pt-8-l {
    padding-top: $ic-800;
  }
  
  .pt-9-l {
    padding-top: $ic-900;
  }
  
  .pt-10-l {
    padding-top: $ic-1000;
  }
  
  .pr-0-l {
    padding-right: 0;
  }
  
  .pr-1-l {
    padding-right: $ic-100;
  }
  
  .pr-2-l {
    padding-right: $ic-200;
  }
  
  .pr-3-l {
    padding-right: $ic-300;
  }
  
  .pr-4-l {
    padding-right: $ic-400;
  }
  
  .pr-5-l {
    padding-right: $ic-500;
  }
  
  .pr-6-l {
    padding-right: $ic-600;
  }
  
  .pr-7-l {
    padding-right: $ic-700;
  }
  
  .pr-8-l {
    padding-right: $ic-800;
  }
  
  .pr-9-l {
    padding-right: $ic-900;
  }
  
  .pr-10-l {
    padding-right: $ic-1000;
  }
  
  .pb-0-l {
    padding-bottom: 0;
  }
  
  .pb-1-l {
    padding-bottom: $ic-100;
  }
  
  .pb-2-l {
    padding-bottom: $ic-200;
  }
  
  .pb-3-l {
    padding-bottom: $ic-300;
  }
  
  .pb-4-l {
    padding-bottom: $ic-400;
  }
  
  .pb-5-l {
    padding-bottom: $ic-500;
  }
  
  .pb-6-l {
    padding-bottom: $ic-600;
  }
  
  .pb-7-l {
    padding-bottom: $ic-700;
  }
  
  .pb-8-l {
    padding-bottom: $ic-800;
  }
  
  .pb-9-l {
    padding-bottom: $ic-900;
  }
  
  .pb-10-l {
    padding-bottom: $ic-1000;
  }
  
  .pl-0-l {
    padding-left: 0;
  }
  
  .pl-1-l {
    padding-left: $ic-100;
  }
  
  .pl-2-l {
    padding-left: $ic-200;
  }
  
  .pl-3-l {
    padding-left: $ic-300;
  }
  
  .pl-4-l {
    padding-left: $ic-400;
  }
  
  .pl-5-l {
    padding-left: $ic-500;
  }
  
  .pl-6-l {
    padding-left: $ic-600;
  }
  
  .pl-7-l {
    padding-left: $ic-700;
  }
  
  .pl-8-l {
    padding-left: $ic-800;
  }
  
  .pl-9-l {
    padding-left: $ic-900;
  }
  
  .pl-10-l {
    padding-left: $ic-1000;
  }
}

.no-padding {
  padding: 0;
}